* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #222;
  text-align: center;
}

.h1 {
  font-size: 2rem;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

#statusText {
  font-size: 20px;
  font-weight: 500;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cells {
  display: grid;
  width: 15rem;
  grid-template-rows: 5rem 5rem 5rem;
  grid-template-columns: 5rem 5rem 5rem;
  margin: 20px 0;
}

.cell {
  width: 5rem;
  height: 5rem;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.cell:nth-child(1) {
  border-top: none;
  border-left: none;
}
.cell:nth-child(2) {
  border-top: none;
}
.cell:nth-child(3) {
  border-top: none;
  border-right: none;
}
.cell:nth-child(4) {
  border-left: none;
}
.cell:nth-child(6) {
  border-right: none;
}
.cell:nth-child(7) {
  border-bottom: none;
  border-left: none;
}
.cell:nth-child(8) {
  border-bottom: none;
}
.cell:nth-child(9) {
  border-bottom: none;
  border-right: none;
}

#restartBtn {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 7px;
  transition: 0.3s ease-in-out;
}

#restartBtn:hover {
  color: #222;
  background: #fff;
}

.win {
  animation: bg 0.7s infinite;
}

@keyframes bg {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #0cf232;
  }
  100% {
    background-color: #222;
  }
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 1.6rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
  #statusText {
    font-size: 20px;
    font-weight: 500;
  }
}
